.login-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    background-color: var(--container-bg); /* Цвет фона меняется в зависимости от темы */
    color: var(--text-color); /* Цвет текста меняется в зависимости от темы */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color); /* Цвет текста меняется в зависимости от темы */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color); /* Цвет текста меняется в зависимости от темы */
}

input[type="text"], input[type="password"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}