/* Styles pour l'icône de notification */
#notification-icon {
    position: relative;
    cursor: pointer;
}

/* Styles pour la fenêtre popup des notifications */
#notification-popup {
    display: none;
    position: absolute;
    top: 100%; /* Positionne la popup juste en dessous de l'icône */
    right: 0; /* Aligne la popup à droite de l'icône */
    background-color: #2c3e50;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ajustez la largeur selon vos besoins */
    z-index: 10;
    border-radius: 5px;
}

/* Affiche la popup lorsqu'elle a la classe 'visible' */
#notification-popup.visible {
    display: block;
}

/* Styles pour l'en-tête de la popup de notification */
.notification-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

/* Styles pour le contenu de la popup de notification */
.notification-popup-content {
    max-height: 300px; /* Limite la hauteur maximale */
    overflow-y: auto; /* Ajoute une barre de défilement si le contenu dépasse */
    padding: 10px;
}

/* Styles pour chaque élément de notification */
.notification-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

/* Styles pour les notifications non vues */
.notification-item.unseen {
    background-color: #e8f0fe; /* Fond différent pour les notifications non lues */
}

/* Styles pour les notifications déjà vues */
.notification-item.seen {
    background-color: #f9f9f9; /* Fond différent pour les notifications lues */
}

/* Style pour la notification popup en haut au centre de l'écran */
.popup-notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    animation: fadeInOut 5s forwards;
}

div.notification-popup div.notification-popup-content ul *{
    color: white;
    margin: 0;
    padding: 8px 20px;
    background-color: #3498db;
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10%;
    border-bottom: black;
}

div.notification-popup .notification-popup-header {
    background-color: #2c3e50;
    color: white;
}

/* Animation pour l'apparition et la disparition de la notification popup */
@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}
