.login-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    background-color: var(--container-bg); /* The background color changes depending on the theme */
    color: var(--text-color); /* Text color changes depending on the theme */
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color); /* Text color changes depending on the theme */
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color); /* Text color changes depending on the theme */
}

input[type="text"], input[type="password"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

input[type="password"] {width: 280px !important;}


@media (max-width: 768px) {
    .login-container {
        width: 95%;
    }

    input[type="text"], input[type="password"] {
        width: 90%;
    }
    input[type="password"] {
        width: 70% !important;
    }
}