* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: lightGradientAnimation 15s ease infinite; /* fluid anim */
    transition: background 1s ease, color 1s ease;
    color: var(--text-color); /* Font color */
}

/* Style du corps de la page */
section.compte-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 60%;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 25%;
}
section.compte-info table{
    margin-top: 5%;
    display: flex;
    border: solid 1px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
section.compte-info table *{
    padding: 5%;
}
