/* Style du corps de la page */
section.compte-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 60%;
    margin-top: 10%;
    margin-bottom: 5%;
    padding-top: 5%;
    margin-left: 25%;
    border: solid 1px;
    border-radius: 5%;
    padding-bottom: 5%;
}
section.compte-info table{
    width: 60%;
    padding-bottom: 5%;
}
section.compte-info table *{
    padding: 5%;
}
section.compte-info table td{
    padding-right: 2%;
    padding-left: 2%;
}