* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: lightGradientAnimation 15s ease infinite; /* fluid anim */
    transition: background 1s ease, color 1s ease;
    color: var(--text-color); /* Font color */
}

/* Principal Preferences Section */
main {
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-size: 28px;
    margin-top: 150px;
    margin-bottom: 30px;
}

.preferences {
    display: inline-block;
    text-align: left;
    z-index: 1;
    padding: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.preference-item {
    margin-bottom: 20px;
}

.preference-item span {
    margin-right: 10px;
}

/* Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 10px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4CAF50;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

