section.preferences {
    display: inline-block;
    text-align: center;
    z-index: 1;
    padding: 20px;
    max-width: 800px;
    margin-left: 40%;
    margin-top: 13%;
    margin-bottom: 13%;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.5s ease, color 0.5s ease;
}

section.preferences h2 {
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 30px;
}

section.preferences .preference-item {
    margin-bottom: 20px;
}

section.preferences .preference-item span {
    margin-right: 10px;
}

/* Toggle Switch */
section.preferences .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}

section.preferences .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

section.preferences .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 10px;
}

section.preferences .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

section.preferences input{
    background-color: transparent;
    padding: 3%;
    border-radius: 30px;
    border: solid 1px;
    box-shadow: 1px 1px 3px black;
}

section.preferences input:checked + .slider {
    background-color: #4CAF50;
}

section.preferences input:checked + .slider:before {
    transform: translateX(20px);
}

