* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: lightGradientAnimation 15s ease infinite; /* fluid anim */
    transition: background 1s ease, color 1s ease;
    color: var(--text-color); /* Font color */
}


/* Default Light theme */
:root {
    --background-gradient: linear-gradient(120deg, #ffffff, #f5f5f5, #eaeaea);
    --text-color: #333;
    --container-bg: rgba(255, 255, 255, 0.9);
    --text-gradient: #005c97, #00c6ff;
}

/* Dark theme */
body.dark-mode {
    --background-gradient: linear-gradient(135deg, #1e3c72, #2a5298, #3a6073);
    --text-color: #f0f4f7;
    --container-bg: rgba(44, 62, 80, 0.85);
    --text-gradient: #ffffff, #33ccff;
    animation: darkGradientAnimation 15s ease infinite;
}


.vertical-menu {
    width: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    position: fixed;
    background-color: #ecf0f1;
}

.menu-item {
    padding: 15px;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item:hover {
    background-color: #34495e;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    color: #333;
}

.submenu {
    display: none;
    padding: 15px;
    background-color: #ecf0f1;
    color: #333;
}

.arrow {
    transition: transform 0.3s ease;
    transform: rotate(-90deg);
}

.menu-item.active .arrow {
    transform: rotate(-180deg);
}

.container {
    width: 100%;
}